name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: Set up Python
      run: uv python install 3.10

    - name: Install dependencies
      run: uv sync --all-extras --dev

    - name: Run Tests
      run: uv run pytest tests/

    - name: Lint (Ruff)
      run: uv run ruff check src/
